.section_container {
    max-width: 100%;
    padding: 0 70px;
    margin: 110px 0 0;
    display: flex;
    flex-direction: column;
}

.section_title {
    color: #454545;
    text-align: start;
    font-family: EB Garamond, serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0 0 0 53px;
}