.section_container {
    max-width: 100%;
    padding: 0 100px;
    margin: 110px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.section_title {
    color: #454545;
    text-align: start;
    font-family: EB Garamond, serif;
    font-size: calc((100vw - 360px) / (1440 - 360) * (60 - 20) + 20px);
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0 0 0 53px;
    z-index: 2;
}

.second_title {
    position: absolute;
    left: 90px;
    top: -20px;
    width: 100%;
    color: rgba(219, 175, 150, 0.25);
    font-family: EB Garamond, serif;
    font-size: calc((100vw - 360px) / (1440 - 360) * (110 - 30) + 30px);
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    z-index: 1;
}

.small_heard {
    margin: 47px 0 20px;
}

.container {
    width: 100%;
    max-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start_point {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 0;
}

.end_point {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    bottom: -50px;
}

.line {
    position: absolute;
    top: 52%;
    width: 125vh;
    border: 1px solid black;
    transform: rotate(90deg)
}

.left {
    grid-template-areas: 'a b';
}

.right {
    flex-direction: row-reverse;
    grid-template-areas: 'b a';
}

.right_icon {
    padding-left: 37.5%;
}

.wrapper {
    width: 100%;
    display: grid;
    margin-top: 70px;
    grid-template-columns: 50% 50%;

}

.text_container {
    grid-area: a;
    display: flex;
    align-items: center;
}

.time {
    color: #454545;
    text-align: center;
    font-family: Montserrat, serif;
    font-size: calc((100vw - 360px) / (1440 - 360) * (40 - 18) + 18px);
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin: 0 20px;
}

.text_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.name {
   width: 100%;
    text-align: center;
    font-family: Montserrat, serif;
    font-size: calc((100vw - 360px) / (1440 - 360) * (40 - 18) + 18px);
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
    border-bottom: 2px dashed black;
    padding-bottom: 10px;
}

.place {
    padding-top: 10px;
    color: #000;
    text-align: center;
    font-family: Montserrat, serif;
    font-size: calc((100vw - 360px) / (1440 - 360) * (20 - 16) + 16px);
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.img {
    grid-area: b;
    margin: 0 81px;
}

.section_svg {
    position: absolute;
    top: -90px;
    left: -150px;
    z-index: 0;
}

@media screen and (min-width: 1540px) {
    .line {
        top: 52%;
        max-width: 840px;
    }

    .end_point {
        bottom: -30px;
    }

    .section_title {
        font-size: 60px;
    }

    .second_title {
        font-size: 110px;
    }

    .name {
        font-size: 40px;
    }

    .time {
        font-size: 40px;
    }

    .place {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {

    .section_container {
        max-width: 100%;
        padding: 0 20px;
        margin: 90px 0 0;
    }

    .section_title {
        line-height: 30px;
        margin: 0 auto;
    }

    .small_heard {
        margin: 20px 0 20px;
    }

    .line {
        position: absolute;
        top: 53%;
        width: 99vh;
        border: 1px solid black;
        transform: rotate(90deg)
    }

    .right_icon {
        padding-left: 5%;
    }

    .wrapper {
        width: 100%;
        display: grid;
        margin-top: 45px;
    }

    .time {
        margin: 0 15px;
    }

    .name {
        padding-bottom: 5px;
    }

    .place {
        padding-top: 5px;
        line-height: 20px;
    }

    .img {
        width: 120px;
        height: 120px;
        grid-area: b;
        margin: 0 81px;
    }

    .section_svg {
        position: absolute;
        width: 70%;
        height: 70%;
        top: 0;
        left: 0;
        z-index: 0;
    }
}

@media screen and (max-width: 576px) {
    .section_container {
        margin: 60px 0 0;
    }

    .second_title {
        left: 20px;
    }

    .small_heard {
        width: 60px;
        height: 60px;
        margin: 17px 0 10px;
    }

    .start_point {
        width: 12px;
        height: 12px;
    }

    .end_point {
        width: 12px;
        height: 12px;
        bottom: -50px;
    }

    .line {
        top: 54%;
        width: 80vh;
    }

    .right_icon {
        padding-left: 0;
    }

    .wrapper {
        margin-top: 30px;
    }

    .time {
        font-style: normal;
        font-weight: 500;
        line-height: 10px;
        margin: 0 5px;
        padding-bottom: 30px;
    }

    .name {
        line-height: 10px;
        margin: 0;
        border-bottom: 2px dashed black;
        padding-bottom: 10px;
    }

    .place {
        padding-top: 10px;
        color: #000;
        text-align: center;
        font-family: Montserrat, serif;
        font-size: calc((100vw - 360px) / (1440 - 360) * (20 - 16) + 16px);
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }

    .img {
        width: 100px;
        height: 100px;
    }

    .section_svg {
        position: absolute;
        width: 70%;
        height: 65%;
        top: 0;
        left: 0;
        z-index: 0;
    }
}

@media screen and (max-width: 450px) {
    .section_container {
        padding: 0 10px;
        margin: 60px 0 0;
    }

    .start_point {
       display: none;
    }

    .end_point {
        display: none;
    }

    .line {
        display: none;
    }

    .right_icon {
        padding-left: 0;
    }

    .wrapper {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #DBAF96;
        padding-bottom: 10px;
    }

    .text_container {
        display: flex;
        align-items: center;
    }

    .time {
        line-height: 30px;
        margin: 0 10px;
        padding: 0;
    }

    .text_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .name {
        width: 100%;
        text-align: center;
        font-family: Montserrat, serif;
        font-size: calc((100vw - 360px) / (1440 - 360) * (40 - 18) + 18px);
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        margin: 0;
        border-bottom: 2px dashed black;
        padding-bottom: 10px;
    }

    .place {
        line-height: 20px;
    }

    .img {
        grid-area: b;
        margin: 0 0;
    }

    .section_svg {
        position: absolute;
        top: -90px;
        left: -150px;
        z-index: 0;
    }
}