.event_section_container {
    background-color: #e8dad2;
    padding-top: 50px;
    width: 100%;
    padding-bottom: 50px;
  margin-top: 120px;

    @media screen and (max-width: 450px) {
      margin-top: 50px;
      padding-top:35px;
      padding-bottom: 35px;
    }
}