.section_container {
  background-color: #e8dad2;
  padding-top: 100px;
  width: 100%;
  padding-bottom: 100px;

  @media screen and (max-width: 450px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  @media screen and (max-width: 450px) {
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    justify-content: start;
    gap: 40px;
  }
}

.contact_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (max-width: 450px) {
    gap: 10px;
    align-items: center;
  }
}

.contact_title {
  color: #0a0a0a;
  font-weight: 500;
  font-size: 35px;
  padding: 0;
  margin: 0;
  font-family: 'Cormorant Garamond', serif;

  @media screen and (max-width: 450px) {
    font-size: 25px;
  }
}

.footer_menu_wrapper {
  color: #0a0a0a;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: end;

  @media screen and (max-width: 450px) {
    font-size: 25px;
    align-items: center;
    gap: 10px;
  }
}

.menu_link {
  color: #0a0a0a;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  font-family: 'Avenir Light', sans-serif;

  @media screen and (max-width: 450px) {
    font-size: 14px;
  }
}
