.section_container {
  background-color: #cedacc;
  padding-top: 100px;
  width: 100%;
  padding-bottom: 100px;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
}

.contact_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact_title {
  color: #0a0a0a;
  font-weight: 500;
  font-size: 35px;
  padding: 0;
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
}

.footer_menu_wrapper {
  color: #0a0a0a;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: end;
}

.menu_link {
  color: #0a0a0a;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  font-family: "Average Sans", sans-serif;
}