.section_container {
  background-color: #e8dad2;
  padding-top: 50px;
  width: 100%;
  padding-bottom: 50px;

  @media screen and (max-width: 450px) {
    padding-top: 30px;
  }
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 80px;
  margin: 0 auto;

  @media screen and (max-width: 450px) {
    padding: 0;
  }
}

.section_title {
  color: #0a0a0a;
  font-weight: 500;
  font-size: 70px;
  padding: 0;
  margin: 0;
  font-family: 'Cormorant Garamond', serif;

  @media screen and (max-width: 450px) {
    padding: 0 20px;
    font-size: 30px;
  }
}

.section_wrapper {
  display: flex;
  gap: 160px;
  margin-top: 80px;

  @media screen and (max-width: 450px) {
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
  }
}

.section_foto {
  width: 400px;
  height: 551px;
  object-fit: cover;

  @media screen and (max-width: 450px) {
    max-width:100vw;
    width: 100%;
    max-height: 100vw;
    height: 100%;
    object-position: 50% 80%;
  }
}

.list {
  padding: 0;
  margin: 0;

  @media screen and (max-width: 450px) {
    padding: 0 20px;
  }
}

.list_item {
  margin-top: 50px;
  display: flex;
  gap: 20px;

  &:nth-child(1) {
    margin-top: 15px;
  }

  @media screen and (max-width: 450px) {
    gap: 10px;
  }
}

.item_number {
  color: #0a0a0a;
  font-weight: 500;
  font-size: 30px;
  padding: 0;
  margin: 0;
  font-family: 'Cormorant Garamond', serif;

  @media screen and (max-width: 450px) {
    font-size: 23px;
  }
}

.item_event_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.event_title {
  color: #0a0a0a;
  font-weight: 500;
  font-size: 30px;
  padding: 0;
  margin: 0;
  font-family: 'Cormorant Garamond', serif;

  @media screen and (max-width: 450px) {
    font-size: 23px;
  }
}

.event_description {
  color: #0a0a0a;
  font-weight: 400;
  font-size: 18px;
  padding: 0;
  margin: 0;
  font-family: 'Avenir Light', sans-serif;

  @media screen and (max-width: 450px) {
    font-size: 15px;
  }
}
